.header__title_main { font-weight: 800; font-size: 5rem; letter-spacing: 1rem; text-transform: uppercase; display: block; margin-bottom: 1rem; -webkit-animation: leftToRight 1s linear; animation: leftToRight 1s linear; -webkit-backface-visibility: hidden; backface-visibility: hidden; }
@media (max-width: 1240px) { .header__title_main { font-size: 4rem; } }
@media (max-width: 900px) { .header__title_main { font-size: 3.6rem; letter-spacing: 0.5rem; } }
@media (max-width: 600px) { .header__title_main { font-size: 3rem; letter-spacing: 0.5rem; } }
.header__title_secondary { font-weight: 300; font-size: 4rem; line-height: 4.8rem; display: block; -webkit-animation: rightToLeft 1s linear; animation: rightToLeft 1s linear; -webkit-backface-visibility: hidden; backface-visibility: hidden; }
@media (max-width: 1240px) { .header__title_secondary { font-size: 3.5rem; } }
@media (max-width: 900px) { .header__title_secondary { font-size: 3rem; line-height: 2rem; } }
@media (max-width: 600px) { .header__title_secondary { font-size: 2.6rem; line-height: 2rem; } }

.title-secondary { position: relative; font-size: 3.6rem; letter-spacing: 1rem; text-transform: uppercase; font-weight: 800; background: -webkit-gradient(linear, left top, right top, color-stop(0.03%, rgba(138, 133, 84, 0.7)), color-stop(99.94%, rgba(161, 79, 3, 0.7))); background: linear-gradient(90deg, rgba(138, 133, 84, 0.7) 0.03%, rgba(161, 79, 3, 0.7) 99.94%); -webkit-background-clip: text; color: transparent; text-align: center; -webkit-transition: all 0.3s; transition: all 0.3s; -webkit-backface-visibility: hidden; backface-visibility: hidden; }
@media (max-width: 1240px) { .title-secondary { font-size: 2.2rem; } }
.title-secondary:hover { -webkit-transform: skewY(2deg) skewX(10deg); transform: skewY(2deg) skewX(10deg); text-shadow: 0rem 0.4rem 0.8rem rgba(0, 0, 0, 0.2); }
.title-secondary_white { color: #FFF; }

.title-third { font-size: 2rem; letter-spacing: 0.2rem; text-transform: uppercase; font-weight: 700; }
@media (max-width: 1240px) { .title-third { font-size: 1.8rem; } }

.paragraph { font-size: 1.6rem; letter-spacing: 0.2rem; font-weight: 400; }
@media (max-width: 1240px) { .paragraph { font-size: 1.5rem; } }

.mb-1 { margin-bottom: 1rem; }

.mb-3 { margin-bottom: 3rem; }

.mb-5 { margin-bottom: 5rem; }

.mt-5 { margin-top: 5rem; }

.mt-8 { margin-top: 8rem; }

.mt-15 { margin-top: 15rem; }

.mb-8 { margin-bottom: 8rem; }
@media (max-width: 900px) { .mb-8 { margin-bottom: 3rem; } }

.text-align-center { text-align: center; }

@-webkit-keyframes leftToRight { 0% { opacity: 0; -webkit-transform: translateX(-10rem); transform: translateX(-10rem); }
  100% { opacity: 1; -webkit-transform: translateX(0rem); transform: translateX(0rem); } }

@keyframes leftToRight { 0% { opacity: 0; -webkit-transform: translateX(-10rem); transform: translateX(-10rem); }
  100% { opacity: 1; -webkit-transform: translateX(0rem); transform: translateX(0rem); } }
@-webkit-keyframes rightToLeft { 0% { opacity: 0; -webkit-transform: translateX(10rem); transform: translateX(10rem); }
  100% { opacity: 1; -webkit-transform: translateX(0rem); transform: translateX(0rem); } }
@keyframes rightToLeft { 0% { opacity: 0; -webkit-transform: translateX(10rem); transform: translateX(10rem); }
  100% { opacity: 1; -webkit-transform: translateX(0rem); transform: translateX(0rem); } }
@-webkit-keyframes btnToUp { 0% { opacity: 0; -webkit-transform: translateY(10rem); transform: translateY(10rem); }
  100% { opacity: 1; -webkit-transform: translateY(0px); transform: translateY(0px); } }
@keyframes btnToUp { 0% { opacity: 0; -webkit-transform: translateY(10rem); transform: translateY(10rem); }
  100% { opacity: 1; -webkit-transform: translateY(0px); transform: translateY(0px); } }
*, ::before, ::after { margin: 0; padding: 0; -webkit-box-sizing: border-box; box-sizing: border-box; }

html { font-size: 62.5%; }
@media (max-width: 1240px) { html { font-size: 56.25%; } }
@media (max-width: 900px) { html { font-size: 50%; } }
@media (max-width: 600px) { html { font-size: 30%; } }
@media (min-width: 1800px) { html { font-size: 75%; } }

body { font-family: "Roboto", sans-serif; font-weight: 400; color: #777; font-size: 1.6rem; letter-spacing: 0.2rem; padding: 5rem; }

.container { background-color: #F7F7F7; z-index: 0; position: relative; }

.row { max-width: 114rem; margin: 0 auto; }
.row:not(:last-child) { margin-bottom: 8rem; }
@media (max-width: 900px) { .row:not(:last-child) { margin-bottom: 3rem; } }
.row::after { content: ""; display: table; clear: both; }
@media (max-width: 1240px) { .row { max-width: 90.1rem; } }
@media (max-width: 900px) { .row { max-width: 60rem; } }
@media (max-width: 600px) { .row { max-width: 50rem; } }

.col-1-of-2 { width: calc((100% - 6rem) /2); }

.col-1-of-3 { width: calc((100% - 2 * 6rem) /3); }

.col-2-of-3 { width: calc(2 * ((100% - 2 * 6rem) /3) + 6rem); }

.col-1-of-4 { width: calc((100% - 3 * 6rem) /4); }
@media (max-width: 1240px) { .col-1-of-4 { width: calc((100% - 3 * 2rem) /4); } }

.col-2-of-4 { width: calc(2 * ((100% - 3 * 6rem) /4) + 6rem); }

.col-3-of-4 { width: calc(3 * ((100% - 3 * 6rem) /4) + 2 * 6rem); }

[class^="col-"] { float: left; }
[class^="col-"]:not(:last-child) { margin-right: 6rem; }
@media (max-width: 1240px) { [class^="col-"]:not(:last-child) { margin-right: 2rem; } }
@media (max-width: 900px) { [class^="col-"] { width: 100%; margin-right: 0 !important; margin-bottom: 7rem; } }

.header { height: 95vh; background: -webkit-gradient(linear, left top, right top, color-stop(0.03%, rgba(138, 133, 84, 0.7)), color-stop(99.94%, rgba(161, 79, 3, 0.7))), url(../images/header/header-bg.jpg) center/cover no-repeat; background: linear-gradient(90deg, rgba(138, 133, 84, 0.7) 0.03%, rgba(161, 79, 3, 0.7) 99.94%), url(../images/header/header-bg.jpg) center/cover no-repeat; -webkit-clip-path: polygon(0 0, 100% 0, 100% 98%, 0 81%); clip-path: polygon(0 0, 100% 0, 100% 98%, 0 81%); position: relative; }
.header__logo { position: absolute; left: 5rem; top: 5rem; height: 7rem; width: 5.6rem; }
.header__content { text-align: center; color: #FFF; position: absolute; top: 40%; left: 50%; width: 100%; -webkit-transform: translate(-50%, -50%); transform: translate(-50%, -50%); }
@media (max-width: 1240px) { .header__content { top: 50%; } }
@media (max-width: 900px) { .header__content { top: 55%; } }

.footer { padding: 8rem; background: #333; }
.footer__logo { width: 12rem; }
.footer__list { list-style: none; text-align: center; }
@media (max-width: 600px) { .footer__list { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-orient: vertical; -webkit-box-direction: normal; -ms-flex-direction: column; flex-direction: column; -webkit-box-pack: center; -ms-flex-pack: center; justify-content: center; -webkit-box-align: start; -ms-flex-align: start; align-items: flex-start; } }
.footer__item { display: inline-block; }
.footer__item:not(:last-child) { margin-right: 5rem; }
@media (max-width: 1240px) { .footer__item:not(:last-child) { margin-right: 1.6rem; } }
@media (max-width: 900px) { .footer__item { margin-right: 3rem; margin-bottom: 3rem; } }
.footer__link:link, .footer__link:visited { color: #777; text-transform: uppercase; text-decoration: none; font-size: 1.6rem; letter-spacing: 0.2rem; font-weight: 300; display: inline-block; -webkit-transition: 0.5s; transition: 0.5s; }
.footer__link:hover { -webkit-transform: rotate(5deg) scale(1.2); transform: rotate(5deg) scale(1.2); color: #A14F03; }

.navigation__toggle { display: none; }
.navigation__button { background: #FFF; width: 6rem; height: 6rem; border-radius: 50%; position: fixed; top: 11rem; right: 7rem; z-index: 15; text-align: center; cursor: pointer; }
@media (max-width: 900px) { .navigation__button { -webkit-box-shadow: 0rem 0.4rem 0.4rem rgba(0, 0, 0, 0.3); box-shadow: 0rem 0.4rem 0.4rem rgba(0, 0, 0, 0.3); } }
.navigation__background { width: 6rem; height: 6rem; border-radius: 50%; background: radial-gradient(#A14F03, #8A8554); position: fixed; right: 7rem; top: 11rem; z-index: 10; -webkit-transition: all 0.8s; transition: all 0.8s; }
.navigation__nav { height: 100vh; width: 0; position: fixed; top: 0; right: 0; z-index: 12; opacity: 0; -webkit-transition: all 0.5s cubic-bezier(0.74, -0.51, 0.4, 1.17); transition: all 0.5s cubic-bezier(0.74, -0.51, 0.4, 1.17); }
.navigation__list { position: absolute; top: 50%; left: 50%; -webkit-transform: translate(-50%, -50%); transform: translate(-50%, -50%); list-style: none; width: 100%; }
.navigation__item { text-align: center; -webkit-transition: 0.8s; transition: 0.8s; }
.navigation__item:not(:last-child) { margin-bottom: 5rem; }
.navigation__item:hover { -webkit-transform: translateX(2rem); transform: translateX(2rem); }
.navigation__link { font-size: 4rem; color: #FFF; letter-spacing: 0.5rem; text-decoration: none; text-transform: uppercase; background: linear-gradient(120deg, transparent 0%, transparent 50%, #FFF 50%); background-size: 230%; padding: 1rem 2rem; -webkit-transition: 0.8s; transition: 0.8s; }
.navigation__link:hover, .navigation__link:active { background-position: 100%; color: #A14F03; }
.navigation__toggle:checked ~ .navigation__background { -webkit-transform: scale(80); transform: scale(80); }
.navigation__toggle:checked ~ .navigation__nav { width: 100%; opacity: 1; }
.navigation__icons { position: relative; margin-top: 3rem; }
.navigation__icons, .navigation__icons::before, .navigation__icons::after { width: 3rem; height: 0.2rem; background: #000; display: inline-block; }
.navigation__icons::before, .navigation__icons::after { content: ""; position: absolute; left: 0; -webkit-transition: all 0.2s; transition: all 0.2s; }
.navigation__icons::before { top: -0.8rem; }
.navigation__icons::after { top: 0.8rem; }
.navigation__button:hover .navigation__icons::before { top: -1rem; }
.navigation__button:hover .navigation__icons::after { top: 1rem; }
.navigation__toggle:checked + .navigation__button .navigation__icons { background: transparent; }
.navigation__toggle:checked + .navigation__button .navigation__icons::before { top: 0; -webkit-transform: rotate(-135deg); transform: rotate(-135deg); }
.navigation__toggle:checked + .navigation__button .navigation__icons::after { top: 0; -webkit-transform: rotate(135deg); transform: rotate(135deg); }

.btn { position: relative; font-size: 2rem; -webkit-box-shadow: 0rem 0.4rem 0.4rem rgba(0, 0, 0, 0.3); box-shadow: 0rem 0.4rem 0.4rem rgba(0, 0, 0, 0.3); }
@media (max-width: 1240px) { .btn { font-size: 1.8rem; } }
.btn, .btn:link, .btn:visited { text-transform: uppercase; display: inline-block; text-decoration: none; color: #777; padding: 1.5rem 4rem; background-color: #FFF; border-radius: 5rem; margin-top: 6.5rem; -webkit-transition: hover, active 0.5s; transition: hover, active 0.5s; border: none; }
@media (max-width: 1240px) { .btn, .btn:link, .btn:visited { margin-top: 2rem; padding: 1.2rem 3.7rem; } }
@media (max-width: 900px) { .btn, .btn:link, .btn:visited { padding: 2rem 4rem; } }
.btn:hover { -webkit-transform: translateY(-0.5rem); transform: translateY(-0.5rem); }
.btn:active { -webkit-transform: translateY(-0.2rem); transform: translateY(-0.2rem); }
.btn_animated { -webkit-animation: btnToUp 1s linear 1s; animation: btnToUp 1s linear 1s; -webkit-animation-fill-mode: backwards; animation-fill-mode: backwards; }

.btn_brown { background-color: #A14F03; color: #FFF; margin-top: 2rem; }

.btn-text:link, .btn-text:visited { font-size: 1.6rem; letter-spacing: 0.2rem; font-weight: 700; color: #777; text-decoration: none; padding: 1rem; border-bottom: 0.1rem #A14F03 solid; -webkit-transition: 0.8s; transition: 0.8s; }
.btn-text:hover { background-color: #A14F03; color: #FFF; -webkit-box-shadow: 0rem 0.4rem 0.4rem rgba(0, 0, 0, 0.3); box-shadow: 0rem 0.4rem 0.4rem rgba(0, 0, 0, 0.3); }

.composition { position: relative; }
.composition__images { width: 55%; -webkit-box-shadow: 0rem 0.4rem 0.4rem rgba(0, 0, 0, 0.3); box-shadow: 0rem 0.4rem 0.4rem rgba(0, 0, 0, 0.3); border-radius: 0.5rem; position: absolute; z-index: 2; -webkit-transition: all 0.3s; transition: all 0.3s; outline-offset: 1rem; }
.composition__images_1 { top: 0; left: -2rem; }
.composition__images_2 { top: 2rem; right: 0rem; }
.composition__images_3 { top: 13rem; left: 11rem; }
.composition__images:hover { outline: 0.5rem solid #8A8554; -webkit-transform: scale(1.2); transform: scale(1.2); z-index: 10; }
.composition:hover .composition__images:not(:hover) { -webkit-transform: scale(0.95); transform: scale(0.95); }

.adventure-card { padding: 2.5rem; background-color: rgba(255, 255, 255, 0.8); border-radius: 0.5rem; -webkit-box-shadow: 0rem 0.4rem 0.4rem rgba(0, 0, 0, 0.3); box-shadow: 0rem 0.4rem 0.4rem rgba(0, 0, 0, 0.3); text-align: center; -webkit-transition: -webkit-transform 0.5s ease; transition: -webkit-transform 0.5s ease; transition: transform 0.5s ease; transition: transform 0.5s ease, -webkit-transform 0.5s ease; }
.adventure-card:hover { -webkit-transform: translateY(-1rem) scale(1.1); transform: translateY(-1rem) scale(1.1); }
.adventure-card__icon { font-size: 6rem; background: -webkit-gradient(linear, left top, right top, color-stop(0.03%, rgba(138, 133, 84, 0.7)), color-stop(99.94%, rgba(161, 79, 3, 0.7))); background: linear-gradient(90deg, rgba(138, 133, 84, 0.7) 0.03%, rgba(161, 79, 3, 0.7) 99.94%); -webkit-background-clip: text; color: transparent; display: inline-block; }

.card-tour { height: 50rem; -webkit-perspective: 150rem; perspective: 150rem; position: relative; }
@media (max-width: 900px) { .card-tour { height: auto; } }
.card-tour__side { border-radius: 0.5rem; overflow: hidden; height: 53rem; -webkit-transition: -webkit-transform 2s ease; transition: -webkit-transform 2s ease; transition: transform 2s ease; transition: transform 2s ease, -webkit-transform 2s ease; color: #FFF; position: absolute; top: 0; left: 0; width: 100%; -webkit-backface-visibility: hidden; backface-visibility: hidden; -webkit-box-shadow: 0rem 0.4rem 0.4rem rgba(0, 0, 0, 0.3); box-shadow: 0rem 0.4rem 0.4rem rgba(0, 0, 0, 0.3); }
@media (max-width: 900px) { .card-tour__side { height: auto; position: relative; } }
@media (max-width: 900px) { .card-tour__side_front { padding-bottom: 13rem; } }
.card-tour__side_back { -webkit-transform: rotateY(180deg); transform: rotateY(180deg); background: linear-gradient(120deg, #8A8554, #A14F03); }
@media (max-width: 900px) { .card-tour__side_back { -webkit-transform: rotateY(0deg); transform: rotateY(0deg); -webkit-clip-path: polygon(0 0, 101% 20%, 101% 101%, 0 101%); clip-path: polygon(0 0, 101% 20%, 101% 101%, 0 101%); margin-top: -10rem; } }
.card-tour:hover .card-tour__side_front { -webkit-transform: rotateY(-180deg); transform: rotateY(-180deg); }
@media (max-width: 900px) { .card-tour:hover .card-tour__side_front { -webkit-transform: rotateY(0deg); transform: rotateY(0deg); } }
.card-tour:hover .card-tour__side_back { -webkit-transform: rotateY(0); transform: rotateY(0); }
.card-tour__img { height: 21rem; background-blend-mode: hard-light; -webkit-clip-path: polygon(0 0, 100% 0, 100% 95%, 0 86%); clip-path: polygon(0 0, 100% 0, 100% 95%, 0 86%); }
.card-tour__img_1 { background: #8A8554 url(../images/section-adventure/adventure-card1.png) center/cover no-repeat; }
.card-tour__img_2 { background: #8A8554 url(../images/section-adventure/adventure-card2.png) center/cover no-repeat; }
.card-tour__img_3 { background: #8A8554 url(../images/section-adventure/adventure-card3.png) center/cover no-repeat; }
@media (max-width: 900px) { .card-tour__img { height: 30rem; } }
.card-tour__title { font-size: 2.8rem; letter-spacing: 0.2rem; font-weight: 300; text-transform: uppercase; text-align: right; position: absolute; top: 17rem; right: 0rem; }
@media (max-width: 900px) { .card-tour__title { top: 25rem; } }
.card-tour__span { background: -webkit-gradient(linear, left top, right top, from(#8A8554), to(#A14F03)); background: linear-gradient(90deg, #8A8554, #A14F03); padding: 1rem 2rem 0.3rem; }
.card-tour__span_2 { position: absolute; top: 3.4rem; right: 0; padding-bottom: 1rem; padding-top: 0; }
.card-tour__description ul { list-style: none; margin: 0 auto; width: 75%; }
.card-tour__description ul li { font-size: 1.6rem; color: #777; letter-spacing: 0.2rem; border-bottom: 0.1rem solid #777; text-align: center; }
.card-tour__description ul li:not(:last-child) { margin-bottom: 2rem; }
.card-tour__backSide_box { position: absolute; top: 50%; left: 50%; -webkit-transform: translate(-50%, -50%); transform: translate(-50%, -50%); }
@media (max-width: 900px) { .card-tour__backSide_box { position: relative; top: 0%; left: 0%; -webkit-transform: translate(0%, 0%); transform: translate(0%, 0%); padding: 5rem; padding-top: 10rem; text-align: center; } }
.card-tour__text { margin-bottom: 8rem; text-transform: uppercase; letter-spacing: 0.2rem; color: #FFF; text-align: center; }
@media (max-width: 900px) { .card-tour__text { margin-bottom: 5rem; } }
.card-tour__text_1 { font-size: 1.6rem; font-weight: 300; }
.card-tour__text_2 { font-weight: 500; font-size: 6rem; }

.feedBack-card { background-color: rgba(255, 255, 255, 0.75); -webkit-box-shadow: 0rem 0.4rem 0.4rem rgba(0, 0, 0, 0.3); box-shadow: 0rem 0.4rem 0.4rem rgba(0, 0, 0, 0.3); margin: 0 auto; width: 75%; padding: 6rem; -webkit-transform: skewX(-15deg); transform: skewX(-15deg); }
@media (max-width: 900px) { .feedBack-card { -webkit-transform: skewX(350deg); transform: skewX(350deg); text-align: center; padding: 3rem; } }
.feedBack-card > * { -webkit-transform: skewX(15deg); transform: skewX(15deg); }
@media (max-width: 900px) { .feedBack-card > * { -webkit-transform: skewX(-350deg); transform: skewX(-350deg); } }
.feedBack-card__img { width: 15rem; height: 15rem; float: left; border-radius: 100%; shape-outside: circle(50% at 50% 50%); margin-right: 4rem; overflow: hidden; position: relative; }
@media (max-width: 900px) { .feedBack-card__img { margin: 0 auto; float: none; margin-bottom: 3rem; } }
.feedBack-card__img img { height: 100%; -webkit-transform: scale(1.2); transform: scale(1.2); -webkit-transition: all 1s ease; transition: all 1s ease; }
.feedBack-card__name { position: absolute; top: 50%; left: 50%; -webkit-transform: translate(-50%, -20%); transform: translate(-50%, -20%); text-align: center; font-size: 2rem; font-weight: 400; color: #FFF; letter-spacing: 0.2rem; opacity: 0; -webkit-transition: all 1s ease; transition: all 1s ease; }
.feedBack-card:hover .feedBack-card__name { -webkit-transform: translate(-50%, -50%); transform: translate(-50%, -50%); opacity: 1; }
.feedBack-card:hover img { -webkit-transform: scale(1); transform: scale(1); -webkit-filter: blur(0.1rem) brightness(70%); filter: blur(0.1rem) brightness(70%); }

.bg-video { position: absolute; top: 0; left: 0; width: 100%; height: 100%; -o-object-fit: cover; object-fit: cover; z-index: -1; }

.bg-gradient { width: 100%; height: 100%; position: absolute; top: 0; left: 0; background: -webkit-gradient(linear, left top, right top, from(rgba(161, 79, 3, 0.7)), to(rgba(0, 0, 0, 0.7))); background: linear-gradient(90deg, rgba(161, 79, 3, 0.7), rgba(0, 0, 0, 0.7)); }

.book { height: 50rem; background: linear-gradient(112deg, rgba(255, 255, 255, 0.9) 0%, rgba(248, 248, 249, 0.9) 53%, rgba(138, 133, 84, 0) 53%, rgba(161, 79, 3, 0) 100%), url(../images/forms/forms-image.jpg) center/cover no-repeat; -webkit-box-shadow: 0rem 0.4rem 0.4rem rgba(0, 0, 0, 0.3); box-shadow: 0rem 0.4rem 0.4rem rgba(0, 0, 0, 0.3); overflow: hidden; border-radius: 0.5rem; }
@media (max-width: 900px) { .book { background: linear-gradient(112deg, rgba(255, 255, 255, 0.9) 0%, rgba(248, 248, 249, 0.9) 503%, rgba(138, 133, 84, 0) 53%, rgba(161, 79, 3, 0) 100%), url(../images/forms/forms-image.jpg) center/cover no-repeat; } }

.form { width: 65%; padding-top: 5rem; padding-left: 5rem; }
.form__group:not(:last-child) { margin-bottom: 2rem; }
@media (max-width: 1240px) { .form__group:not(:last-child) { margin-bottom: 2.5rem; } }
@media (max-width: 900px) { .form { width: 100%; padding-top: 3rem; padding-left: 3rem; } }
.form__input { font-size: 1.6rem; letter-spacing: 0.2rem; font-weight: 400; color: #000; padding: 2rem 0rem 2rem 2rem; background-color: #FFF; border: none; border-bottom: 0.2rem solid transparent; border-radius: 0.5rem; width: 75%; outline: none; }
.form__input:focus { border-bottom: 0.2rem solid #66D763; -webkit-box-shadow: 0rem 0.4rem 0.4rem rgba(0, 0, 0, 0.3); box-shadow: 0rem 0.4rem 0.4rem rgba(0, 0, 0, 0.3); }
.form__input:focus:invalid { border-bottom: 0.2rem solid #D76363; }
.form__input-radio { display: none; }
@media (max-width: 1240px) { .form__input { -webkit-box-shadow: 0rem 0.4rem 0.4rem rgba(0, 0, 0, 0.3); box-shadow: 0rem 0.4rem 0.4rem rgba(0, 0, 0, 0.3); } }
.form__label { font-size: 1.6rem; letter-spacing: 0.2rem; font-weight: 400; display: block; margin-top: 1rem; margin-left: 1.5rem; -webkit-transition: 0.7s all; transition: 0.7s all; }
.form__input:placeholder-shown + .form__label { opacity: 0; visibility: hidden; -webkit-transform: translateY(-3rem); transform: translateY(-3rem); }
.form__group-radio { display: inline-block; }
.form__group-radio:not(:last-child) { margin-right: 0.4rem; }
@media (max-width: 1240px) { .form__group-radio { display: block; } }
.form__group-radio:not(:last-child) { margin-bottom: 2rem; }
.form__label-radio { cursor: pointer; position: relative; padding-left: 4rem; }
.form__button-radio { height: 3rem; width: 3rem; border-radius: 50%; border: 0.5rem solid #A14F03; display: block; position: absolute; left: 0; top: -0.4rem; }
.form__button-radio::after { content: ""; display: block; width: 1.5rem; height: 1.5rem; border-radius: 50%; background: #A14F03; position: absolute; top: 50%; left: 50%; -webkit-transform: translate(-50%, -50%); transform: translate(-50%, -50%); opacity: 0; -webkit-transition: 0.2s; transition: 0.2s; }
.form__input-radio:checked ~ .form__label-radio .form__button-radio::after { opacity: 1; }

.section-about { padding-top: 8rem; }
@media (max-width: 1240px) { .section-about { padding-top: 3rem; } }
@media (max-width: 900px) { .section-about { margin-bottom: 40rem; } }

.section-adventure { margin-top: 150rem; padding: 20rem 0; background: -webkit-gradient(linear, left top, right top, color-stop(0.03%, rgba(138, 133, 84, 0.7)), color-stop(99.94%, rgba(161, 79, 3, 0.7))), url(../images/section-adventure/adventure-bg.jpg) center/cover no-repeat; background: linear-gradient(90deg, rgba(138, 133, 84, 0.7) 0.03%, rgba(161, 79, 3, 0.7) 99.94%), url(../images/section-adventure/adventure-bg.jpg) center/cover no-repeat; -webkit-transform: skewY(7deg); transform: skewY(7deg); }
@media (max-width: 1240px) { .section-adventure { margin-top: 8rem; } }
@media (max-width: 900px) { .section-adventure { padding: 10rem 0; } }
.section-adventure > * { -webkit-transform: skewY(-7deg); transform: skewY(-7deg); }

.section-tour { padding-top: 8rem; }

.section-feedBack { margin-top: 8rem; position: relative; padding: 8rem 0rem; }

.section-form { padding: 10rem; background: -webkit-gradient(linear, left top, right top, from(#8A8554), to(#A14F03)); background: linear-gradient(90deg, #8A8554, #A14F03); }
@media (max-width: 900px) { .section-form { padding: 4rem; } }
