//  миксин для стиля кнопки
@mixin style-link
  text-transform: uppercase
  display: inline-block
  text-decoration: none
  color: $color_gray

//  миксин для грид контейнера
@mixin clearFix
  &::after
    content: ''
    display: table
    clear: both

@mixin respond($breakpoint)
  @if $breakpoint == phone
    @media (max-width:600px)
      @content

  @if $breakpoint == tab-port
    @media (max-width:900px)
      @content

  @if $breakpoint == tab-land
    @media (max-width:1240px)
      @content

  @if $breakpoint == big-screen
    @media (min-width:1800px)
      @content