// цвет текста
$color-gray: #777

// основные цвета сайта
$color-brown-light: #8A8554
$color-brown-dark: #A14F03

// черный и белый цвет сайта
$color-black: #000
$color-white: #FFF

// фон контейнера
$color-bg: #F7F7F7

// отступы и размеры grid
$margin-vertical-big: 8rem
$grid-width: 114rem
$margin-horizontal: 6rem

// тени для текста и кнопок
$title-shadow: 0rem .4rem .8rem rgba($color-black,.2)
$box-shadow: 0rem .4rem .4rem rgba($color-black,.3)