.section-about
  padding-top: 8rem
  @include respond(tap-land)
  padding-top: 3rem

.section-adventure
  margin-top: 150rem
  padding: 20rem 0
  background: linear-gradient(90deg, rgba($color_brown-light,0.7)0.03%, rgba($color_brown-dark,0.7)99.94%),url(../images/section-adventure/adventure-bg.jpg) center/ cover no-repeat
  transform: skewY(7deg)
  @include respond(tab-land)
  margin-top: 8rem
  & > *
    transform: skewY(-7deg)

.section-tour
  padding-top: 20rem

.section-feedBack
  margin-top: 8rem
  position: relative
  padding: 8rem 0rem

.section-form
  padding: 10rem
  background: linear-gradient(90deg,$color_brown-light,$color_brown-dark)